
.jumbotron {
  background-color: rgb(79, 51, 110);
  color: rgb(196, 196, 196);
  margin-top: 50px;
}

.card-hotel{
  flex: 2 200px;
  
  margin-top: 20px;
  text-align: center;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: rgb(79, 51, 110);
  color: rgb(196, 196, 196);
  margin-top: 20px;
  
}

.btn-reserva{
  width: 100%; 
  background-color: rgb(20, 1, 43); 
  color: rgb(248, 248, 248);
  border-radius: 0px;
}

.footer-address-icon{
  padding-right: 10px;
}

.img1{
  width: 100%; 
}

.tab-content{
  padding-top: 10px;
}


