$violeta: #4f336e;
$violeta2: #14012b;
$gris: #c4c4c4;
$blanco: #f8f8f8;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $violeta;
    color: $gris;
    @include margenes(50px, 0px);
  }
  
  .card-hotel{
    flex: 2 200px;    
    @include margenes(20px, 0px);
    text-align: center;
  }
  
  footer {
    padding: 10px 10px 0px 10px;
    background-color: $violeta;
    color: $gris;
    @include margenes(20px, 0px);    
  }
  
  .btn-reserva{
    width: 100%; 
    background-color: $violeta2; 
    color: $blanco;
    border-radius: 0px;
  }
  
  .footer-address-icon{
    padding-right: 10px;
  }
  
  .img1{
    width: 100%; 
  }
  
  .tab-content{
    padding-top: 10px;
  }
  
  
  