.jumbotron {
  background-color: #4f336e;
  color: #c4c4c4;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 2 200px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #4f336e;
  color: #c4c4c4;
  margin-top: 20px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  background-color: #14012b;
  color: #f8f8f8;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.img1 {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
